
#button1 {
    margin-left: 250px; 
   /* padding: 10px;
   margin-bottom: 5px; */
   border-radius: 10px;

 }

 .ship {
   display: flex;
   justify-content: space-around; 
   /* background-color: aqua; */
 }

 .footer {
   /* justify-content: space-around;*/
     display: flex; 
   background-color: rgb(128, 118, 118);
 }

 .child1 {
   display: flex;
 }

 h4 {
   font-size: 25px;
   font-family: monospace;

 }

 #buttons {
   justify-content: space-around;
   padding: 20px;
   margin-bottom: 15px;
   border-radius: 50px;
 }

 .one {
   /* background-color: blue; */

   margin-top: 0px;
   justify-content: space-around;
 }

.body{
  
  /* background: url("images/dresses.jpg"); */
  -webkit-animation-duration:2s;
  animation-duration: 25s;
  -webkit-animation-name:skrrpapapum;
  animation-name:skrrpapapum; 
}
#cart{
  background-color: black;
  color: white;
}
    

