.col-md-8{
    margin-top: 150px;
    margin-left: 20px;
}
.parent{
    display: flex;
    background: space;
    
}
nav{
    margin-right: 80px;
}
h5{
    align-content: center;
    margin-left: 80px;
}
.footer{
    height: 300px;
    color: white;
    background-color: black;
    opacity: 0.6;
    justify-content: space-around;
    display: flex;
    background-color: cover;
    font-family: monospace;

}
#col{
    margin-top: 0px;
    border-radius: 50px;
    margin-left: 500px;
}